version: "3.7"

services:
  glusterfs-node1:
    image: centos/glusterfs:latest
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == lnd
    volumes:
      - glusterfs-data:/data
    networks:
      - glusterfs

  glusterfs-node2:
    image: centos/glusterfs:latest
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == nyc
    volumes:
      - glusterfs-data:/data
    networks:
      - glusterfs

  glusterfs-node3:
    image: centos/glusterfs:latest
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == bng
    volumes:
      - glusterfs-data:/data
    networks:
      - glusterfs

volumes:
  glusterfs-data:

networks:
  glusterfs:
    driver: overlay

